# requirements.txt
flask[async]==3.1.1
flask-sqlalchemy==3.1.1
flask-migrate==4.1.0
flask-jwt-extended==4.7.1
flask-marshmallow==1.3.0
marshmallow-sqlalchemy==1.4.2
asyncpg==0.30.0
python-dotenv==1.1.0
uvicorn==0.32.0
Pillow==11.2.1
Flask-Bootstrap==3.3.7.1
flask-paginate==2024.4.12
pymysql==1.1.1